image: registry.reset.inso-w.at/pub/docker/eclipse-temurin:21

variables:
  GIT_STRATEGY: "clone"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

stages:
#  - test
#  - build
  - deploy

# Cache Maven dependencies for faster builds
cache:
  paths:
    - .m2/repository

# TEST STAGE

# test-api-gateway:
#   stage: test
#   script:
#     - cd backend/api-gateway
#     - ./mvnw -B clean test

# test-user-service:
#   stage: test
#   services:
#     - docker:dind
#   variables:
#     DOCKER_HOST: tcp://docker:2375
#     DOCKER_TLS_CERTDIR: ""
#   script:
#     - cd backend/user-service
#     - ./mvnw -B clean test

# test-farm-service:
#   stage: test
#   services:
#     - docker:dind
#   variables:
#     DOCKER_HOST: tcp://docker:2375
#     DOCKER_TLS_CERTDIR: ""
#   script:
#     - cd backend/farm-service
#     - ./mvnw -B clean test

# test-service-registry:
#   stage: test
#   script:
#     - cd backend/service-registry
#     - ./mvnw -B clean test

# test-notification-service:
#   stage: test
#   services:
#     - docker:dind
#   variables:
#     DOCKER_HOST: tcp://docker:2375
#     DOCKER_TLS_CERTDIR: ""
#   script:
#     - cd backend/notification-service
#     - ./mvnw -B clean test

# test-rule-engine:
#   stage: test
#   services:
#     - docker:dind
#   variables:
#     DOCKER_HOST: tcp://docker:2375
#     DOCKER_TLS_CERTDIR: ""
#   script:
#     - cd backend/rule-engine
#     - ./mvnw -B clean test

# Test Python Service
# test-sensor-ingestion-service:
#   stage: test
#   image: registry.reset.inso-w.at/pub/docker/python:3.13-slim
#   script:
#     - cd backend/sensor-ingestion-service
#     - pip install -r requirements.txt
#     - echo "Python tests..."
# #    - pytest

# Test Frontend
# test-frontend:
#   stage: test
#   image: node:20-bookworm
#   before_script:
#     - apt-get update
#     - apt-get install -y --no-install-recommends chromium
#     - rm -rf /var/lib/apt/lists/*
#     - export CHROME_BIN=/usr/bin/chromium
# 
#     # Make workspace writable for the non-root user
#     - chown -R node:node "$CI_PROJECT_DIR"
#   script:
#     - cd frontend
#     - runuser -u node -- npm ci
#     - runuser -u node -- npm run test -- --watch=false --browsers=ChromeHeadless
#   cache:
#     key: ${CI_COMMIT_REF_SLUG}-frontend
#     paths:
#       - frontend/node_modules/

# BUILD STAGE (with Jib)

# build-api-gateway:
#   stage: build
#   script:
#     - cd backend/api-gateway
#     - ./mvnw clean package -DskipTests
#     - ./mvnw -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/api-gateway -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
#   only:
#     - main
#     - 21-kubernetes-integration-setup

# build-user-service:
#   stage: build
#   script:
#     - cd backend/user-service
#     - ./mvnw clean package -DskipTests
#     - ./mvnw -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/user-service -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
#   only:
#     - main
#     - 21-kubernetes-integration-setup

# build-farm-service:
#   stage: build
#   script:
#     - cd backend/farm-service
#     - ./mvnw clean package -DskipTests
#     - ./mvnw -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/farm-service -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
#   only:
#     - main
#     - 21-kubernetes-integration-setup

# build-service-registry:
#   stage: build
#   script:
#     - cd backend/service-registry
#     - ./mvnw clean package -DskipTests
#     - ./mvnw -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/service-registry -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
#   only:
#     - main
#     - 21-kubernetes-integration-setup

# build-notification-service:
#   stage: build
#   image: registry.reset.inso-w.at/pub/docker/eclipse-temurin:21
#   script:
#     - cd backend/notification-service
#     - ./mvnw clean package -DskipTests
#     - ./mvnw -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/notification-service -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
#   only:
#     - main
#     - 21-kubernetes-integration-setup

# build-rule-engine:
#   stage: build
#   image: registry.reset.inso-w.at/pub/docker/eclipse-temurin:21
#   script:
#     - cd backend/rule-engine
#     - ./mvnw clean package -DskipTests
#     - ./mvnw -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/rule-engine -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
#   only:
#     - main
#     - 21-kubernetes-integration-setup

# # Build Python Service with Kaniko
# build-sensor-ingestion-service:
#   stage: build
#   image:
#     name: gcr.io/kaniko-project/executor:debug
#     entrypoint: [""]
#   script:
#     - echo "{\"auths\":{\"registry.reset.inso-w.at\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
#     - /kaniko/executor --context "${CI_PROJECT_DIR}/backend/sensor-ingestion-service" --dockerfile "${CI_PROJECT_DIR}/backend/sensor-ingestion-service/Dockerfile" --destination "registry.reset.inso-w.at/${CI_PROJECT_PATH}/sensor-ingestion-service:${CI_PIPELINE_ID}"
#   only:
#     - main
#     - 21-kubernetes-integration-setup

# # Build Frontend with Kaniko
# build-frontend:
#   stage: build
#   image:
#     name: gcr.io/kaniko-project/executor:debug
#     entrypoint: [""]
#   script:
#     - echo "{\"auths\":{\"registry.reset.inso-w.at\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
#     - /kaniko/executor --context "${CI_PROJECT_DIR}/frontend" --dockerfile "${CI_PROJECT_DIR}/frontend/Dockerfile" --destination "registry.reset.inso-w.at/${CI_PROJECT_PATH}/frontend:${CI_PIPELINE_ID}"
#   only:
#     - main
#     - 21-kubernetes-integration-setup

deploy:
  stage: deploy
  image: registry.reset.inso-w.at/pub/docker/kubectl
  # needs:
  #   - build-service-registry
  script:
    - sed -i 's/:latest/:'$CI_PIPELINE_ID'/g' k8s/kubernetes-service-registry.yaml
    - sed -i 's/:latest/:'$CI_PIPELINE_ID'/g' k8s/kubernetes-api-gateway.yaml
    - sed -i 's/:latest/:'$CI_PIPELINE_ID'/g' k8s/kubernetes-frontend.yaml
    - sed -i 's/:latest/:'$CI_PIPELINE_ID'/g' k8s/kubernetes-backend-services.yaml
    # Deploy all services
    - kubectl apply -f k8s/
  only:
    - main
    - 21-kubernetes-integration-setup
  
# deploy:
#   stage: deploy
#   image: bitnami/kubectl:1.30
#   needs:
#     - build-api-gateway
#     - build-user-service
#     - build-farm-service
#     - build-service-registry
#     - build-notification-service
#     - build-rule-engine
#     - build-sensor-ingestion-service
#     - build-frontend-service
#   script:
#     - sed -i 's/:latest/:'$CI_PIPELINE_ID'/g' kubernetes.yaml
#     - cat kubernetes.yaml
#     - kubectl apply -f kubernetes.yaml
#   only:
#     - main
#     - 21-kubernetes-integration-setup