image: maven:3.9-eclipse-temurin-21

variables:
  GIT_STRATEGY: "clone"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

stages:
  - test
  - build
  - deploy

# Cache Maven dependencies for faster builds
cache:
  paths:
    - .m2/repository

# TEST STAGE

test-api-gateway:
  stage: test
  script:
    - cd backend/api-gateway
    - mvn -B clean test

# test-user-service:
#   stage: test
#   services:
#     - docker:dind
#   variables:
#     DOCKER_HOST: tcp://docker:2375
#     DOCKER_TLS_CERTDIR: ""
#   script:
#     - cd backend/user-service
#     - mvn -B clean test

test-farm-service:
  stage: test
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - cd backend/farm-service
    - mvn -B clean test

test-service-registry:
  stage: test
  script:
    - cd backend/service-registry
    - mvn -B clean test

test-notification-service:
  stage: test
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - cd backend/notification-service
    - mvn -B clean test

test-rule-engine:
  stage: test
  services:
    - docker:dind
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
    - cd backend/rule-engine
    - mvn -B clean test

# Test Python Service
test-sensor-ingestion-service:
  stage: test
  image: python:3.11
  script:
    - cd backend/sensor-ingestion-service
    - pip install -r requirements.txt
    - echo "Python tests..."
    - pytest

# Test Frontend
# test-frontend:
#   stage: test
#   image: node:20-bookworm
#   before_script:
#     - apt-get update
#     - apt-get install -y --no-install-recommends chromium
#     - rm -rf /var/lib/apt/lists/*
#     - export CHROME_BIN=/usr/bin/chromium
# 
#     # Make workspace writable for the non-root user
#     - chown -R node:node "$CI_PROJECT_DIR"
#   script:
#     - cd frontend
#     - runuser -u node -- npm ci
#     - runuser -u node -- npm run test -- --watch=false --browsers=ChromeHeadless
#   cache:
#     key: ${CI_COMMIT_REF_SLUG}-frontend
#     paths:
#       - frontend/node_modules/

# BUILD STAGE (with Jib)

build-api-gateway:
  stage: build
  script:
    - cd backend/api-gateway
    - mvn clean package -DskipTests
    - mvn -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/api-gateway -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
  only:
    - main
    - 21-kubernetes-integration-setup

build-user-service:
  stage: build
  script:
    - cd backend/user-service
    - mvn clean package -DskipTests
    - mvn -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/user-service -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
  only:
    - main
    - 21-kubernetes-integration-setup

build-farm-service:
  stage: build
  script:
    - cd backend/farm-service
    - mvn clean package -DskipTests
    - mvn -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/farm-service -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
  only:
    - main
    - 21-kubernetes-integration-setup

build-service-registry:
  stage: build
  script:
    - cd backend/service-registry
    - mvn clean package -DskipTests
    - mvn -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/service-registry -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
  only:
    - main
    - 21-kubernetes-integration-setup

build-notification-service:
  stage: build
  script:
    - cd backend/notification-service
    - mvn clean package -DskipTests
    - mvn -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/notification-service -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
  only:
    - main
    - 21-kubernetes-integration-setup

build-rule-engine:
  stage: build
  script:
    - cd backend/rule-engine
    - mvn clean package -DskipTests
    - mvn -B jib:build -Djib.to.image=registry.reset.inso-w.at/$CI_PROJECT_PATH/rule-engine -Djib.to.tags=$CI_PIPELINE_ID -Djib.to.auth.username=$CI_REGISTRY_USER -Djib.to.auth.password=$CI_REGISTRY_PASSWORD
  only:
    - main
    - 21-kubernetes-integration-setup

# Build Python Service with Kaniko
build-sensor-ingestion-service:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"registry.reset.inso-w.at\":{\"auth\":\"$(printf "%s:%s" "${CI_REGISTRY_USER}" "${CI_REGISTRY_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context "${CI_PROJECT_DIR}/backend/sensor-ingestion-service" --dockerfile "${CI_PROJECT_DIR}/backend/sensor-ingestion-service/Dockerfile" --destination "registry.reset.inso-w.at/${CI_PROJECT_PATH}/sensor-ingestion-service:${CI_PIPELINE_ID}"
  only:
    - main
    - 21-kubernetes-integration-setup

# Build Frontend
build-frontend:
  stage: build
  image: node:20
  script:
    - cd frontend
    - npm ci
    - npm run build
  cache:
    key: ${CI_COMMIT_REF_SLUG}-frontend
    paths:
      - frontend/node_modules/
  only:
    - main
    - 21-kubernetes-integration-setup

deploy:
  stage: deploy
  image: bitnami/kubectl:1.30
  needs:
    - build-service-registry
  script:
    - sed -i 's/:latest/:'$CI_PIPELINE_ID'/g' kubernetes.yaml
    - cat kubernetes.yaml
    - kubectl apply -f kubernetes.yaml
  only:
    - main
    - 21-kubernetes-integration-setup
  
# deploy:
#   stage: deploy
#   image: bitnami/kubectl:1.30
#   needs:
#     - build-api-gateway
#     - build-user-service
#     - build-farm-service
#     - build-service-registry
#     - build-notification-service
#     - build-rule-engine
#     - build-sensor-ingestion-service
#     - build-frontend-service
#   script:
#     - sed -i 's/:latest/:'$CI_PIPELINE_ID'/g' kubernetes.yaml
#     - cat kubernetes.yaml
#     - kubectl apply -f kubernetes.yaml
#   only:
#     - main
#     - 21-kubernetes-integration-setup