<div class="sidebar-container">

  <div class="sidebar-header">
    <img src="assets/icons/no_profile_photo.svg" class="avatar" />
    <div class="username">Max</div>
  </div>

  <div class="menu">

            <!-- Dropdown Menu -->
<div class="menu-item has-dropdown">
  <div class="menu-item-content">
    <img src="assets/icons/my_farms.svg" />
    <span>My farms</span>
  </div>

  <div class="farms-dropdown">

    <div class="farm-list">
      <div class="farm-item">
        <span>Farm 1</span>
      </div>
      <div class="farm-item">
        <span>Farm 2</span>
      </div>
    </div>

    <button class="add-farm-btn" (click)="addNewFarm()">
      <span>+</span>
      <span>Add New Farm</span>
    </button>
  </div>
</div>

    <div class="menu-item">
      <img src="assets/icons/feedback.svg" />
      <span>Feedback</span>
    </div>

    <div class="menu-item" (click)="navigateToSeeds()">
      <img src="assets/icons/seeds.svg" />
      <span>Seeds</span>
    </div>

    <div class="menu-item">
      <img src="assets/icons/stats.svg" />
      <span>Statistic</span>
    </div>
  </div>
</div>
