<div class="sidebar-container">

  <div class="sidebar-header">
    <img src="assets/icons/no_profile_photo.svg" class="avatar" />
    <div class="username">Max</div>
  </div>

  <div class="menu">

    <div class="menu-item">
      <img src="assets/icons/my_farms.svg" />
      <span>My farms</span>
    </div>

    <div class="menu-item">
      <img src="assets/icons/feedback.svg" />
      <span>Feedback</span>
    </div>

    <div class="menu-item">
      <img src="assets/icons/seeds.svg" />
      <span>Seeds</span>
    </div>

    <div class="menu-item">
      <img src="assets/icons/stats.svg" />
      <span>Statistic</span>
    </div>

    <div class="menu-item">
      <img src="assets/icons/my_profile.svg" />
      <span>My profile</span>
    </div>
  </div>
</div>
