server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/api/users/**
        - id: farm-service
          uri: lb://farm-service
          predicates:
            - Path=/api/farms/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/