<div class="page-container">

  <div class="content-area">

    <div class="left-content"></div>

    <div class="right-content">
      <div class="signup-card">

        <h1 class="signup-title">
          Get started today!
          <img src="assets/icons/farm-icon.png" class="signup-icon">
        </h1>

        <form (ngSubmit)="onSubmit()" #signupForm="ngForm">

          <label>Name</label>
          <input type="text" name="firstName" [(ngModel)]="signupData.firstName" required placeholder="Max">

          <label>Surname</label>
          <input type="text" name="lastName" [(ngModel)]="signupData.lastName" required placeholder="Mustermann">

          <label>Email</label>
          <input type="email" name="email" [(ngModel)]="signupData.email" required placeholder="username@email.com">

          <label>Address</label>
          <input type="text" name="address" [(ngModel)]="signupData.address" required placeholder="Street, House number, ZIP, City/Town, State">

          <label>Date of Birth</label>
          <input type="date" name="dateOfBirth" lang="en-GB" onkeydown="return false" onclick="this.showPicker()" [(ngModel)]="signupData.dateOfBirth" required placeholder="DD.MM.YYYY">

          <label>Password</label>
          <input type="password" name="password" [(ngModel)]="signupData.password" required placeholder="Password">

          <label>Retype your password</label>
          <input type="password" name="password2" [(ngModel)]="signupData.password2" required placeholder="Password">

          <button type="submit" class="signup-btn">Sign up</button>

        </form>

        <div class="signin-row">
          Already have an account?
          <a href="login">Sign in</a>
        </div>

      </div>
    </div>

  </div>

</div>
