<div class="page-container">

  <app-topbar
    [showFarmTitle]="false">
  </app-topbar>

  <div class="body-container">

    <app-sidebar class="sidebar"></app-sidebar>

    <div class="content-area">
            <div class="seeds-grid">
            <div class="content-wrapper">

                <div class="seed-container">
                <div *ngFor="let seed of seeds" class="seed-card">
                    <div class="seed-header">
                    <img class="seed-icon" [src]="getSeedIcon(seed.seedType)" alt="{{ seed.displayName }}" />
                    <div class="seed-name">{{ seed.displayName }}</div>
                    </div>

                    <div class="seed-info">
                    <strong>Temperature Range:</strong>
                    <span class="info-value">{{ seed.minTemperature }} - {{ seed.maxTemperature }} °C</span>
                    </div>

                    <div class="seed-info">
                    <strong>Soil Moisture Range:</strong>
                    <span class="info-value">{{ seed.minSoilMoisture }} - {{ seed.maxSoilMoisture }}%</span>
                    </div>

                    <div class="seed-info">
                    <strong>Water Requirement:</strong>
                    <span class="info-value">{{ seed.waterRequirement }} l/m²</span>
                    </div>

                    <button class="details-btn">Details</button>
                </div>
                </div>

                <!-- <div class="seed-card">
                    <div class="seed-header">
                        <div class="seed-icon">🍇</div>
                        <div class="seed-name">Grape seed</div>
                    </div>
                    <div class="seed-info">
                        <strong>Plant Height / Spread:</strong> <span class="info-value">123</span>
                    </div>
                    <div class="seed-info">
                        <strong>Seeding Rate:</strong> <span class="info-value">80%</span>
                    </div>
                    <div class="seed-info">
                        <strong>Temperature Range:</strong> <span class="info-value">10 - 40 C</span>
                    </div>
                    <div class="seed-info">
                        <strong>Water Requirement:</strong> <span class="info-value">1 l/m"</span>
                    </div>
                    <button class="details-btn">Details</button>
                </div> -->
            </div>
            </div>
        </div>
    </div>
</div>
